footer
  .container.text-center
    p.pull-left © 2014 BikeBalance Project. Fork us on GitHub.
    ul.pull-right.list-inline
      li
        a(href='https://github.com/BikeBalance') GitHub Project
      li
        | Made with <3 at #battlehack London '14.
