extends layout

block content
  h1 BorisBike.me - the bike balancer project
  p.lead Improve your community by helping balancing bikes around London!
  hr
  .row
    .col-sm-12
      h1 Get hint credits.
      p You can purchase 15 credits for £3 using the button below:
      p
        | <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=vlad.velici@gmail.com"
        |   data-button="buynow"
        |  data-name="Credits"
        |  data-quantity="15"
        |  data-amount="0.20"
        |  data-currency="GBP"
        |  data-shipping="0"
        |  data-tax="0"
        |  data-callback="http://borisbike.me/payment/callback/#{user._id}/processed"
        |  data-env="sandbox"
        |  ></script>
